.item {
  position: relative;

  &:focus-within .label {
    background: var(--text-transparent);
  }

  &:focus-within .dropdown {
    opacity: 1;
    visibility: visible;
  }
}

.label {
  background: transparent;
  border: none;
  padding: 0 7px;
  height: 25px;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    background: var(--text-transparent);
  }
}

.dropdown {
  position: absolute;
  right: -5px;
  top: 100%;
  width: max-content;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  border-radius: 5px;
  overflow: hidden;
  padding: 15px;
  background: var(--dropdown);

  * {
    white-space: nowrap;
  }
}

.gray {
  font-size: 15px;
  color: var(--text-gray);
}
